#! /bin/bash

set -x

obsinp=OBSINP
calid=CALID
selfcal=SELFCAL
project_dir=PROJECT_DIR
debug=DEBUG

# If obsinp is a file, then we are in an array job
if [[ -f "${obsinp}" ]]; then
    taskid="${SLURM_ARRAY_TASK_ID}"
    jobid="${SLURM_ARRAY_JOB_ID}"
    obsid="$(sed -n -e ${SLURM_ARRAY_TASK_ID}p ${obsinp})"
else
    taskid=1
    jobid="${SLURM_JOB_ID}"
    obsid="${obsinp}"
fi

# If calid is a file, then we are in an array job
if [[ -f "${calid}" ]]; then
    calid=$(sed -n -e "${taskid}"p "${calid}")
fi

function test_fail {
    if [[ $1 != 0 ]] && [[ "${GXTRACK}" == "track" ]]; then
        track_task.py fail --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
        exit "$1"
    fi
}

if [[ "${GXTRACK}" == "track" ]]; then
    track_task.py start --jobid="${jobid}" --taskid="${taskid}" --start_time="$(date +%s)"
fi

cd "${project_dir}/${obsid}" || exit
metafits="${obsid}.metafits"

if [[ -n $selfcal ]]; then 
    calfile="${project_dir}/${calid}/${calid}_selfsolutions.bin"
    # Checking if there is a gross sidelobe: 
    if [[ ! -e "${obsid}_beamlobes.txt" ]]; then
        get_mwa_pb_lobes.py ${metafits} -mS > ${obsid}_beamlobes.txt
    else
        echo "Already have the beam, not recalculating"
    fi 


    if [[ $(cat ${obsid}_beamlobes.txt | wc -l ) -eq 1 ]]; then 
        ra_sidelobe=$(cat ${obsid}_beamlobes.txt | awk '{print $2}')
        dec_sidelobe=$(cat ${obsid}_beamlobes.txt | awk '{print $3}')
    else
        echo "No major sidelobe, good stuff"
        self="False"
    fi 

    get_mwa_pb_lobes.py ${metafits} -mM > ${obsid}_mainlobes.txt
    ra_mainlobe=$(cat ${obsid}_mainlobes.txt | awk '{print $2}')
    dec_mainlobe=$(cat ${obsid}_mainlobes.txt | awk '{print $3}')

    # Check if crab or cyg is in the main fov
    ateam_fov=$(check_src_fov.py -p ${ra_mainlobe} ${dec_mainlobe})
    if [[ "$ateam_fov" == "False" ]]; then
        echo "There is no bright thing in main FOV, no self-cal needed!!"
        self2="False"
    else
        echo "Either some bright A-team is in the FOV, carrying on with selfcal"
        echo "ateam: $ateam_fov"
    fi 

    if [[ "$self" == "False" ]] && [[ "${self2}" == "False" ]]; then 
        echo "Don't want to apply the selfcal, no need!"
        exit 0
    else
        echo "Either there is a gross sidelobe or Crab/CygA is in the mainlobe, carrying on with applying the selfcal"
    fi 
else
    calfile="${project_dir}/${calid}/${calid}_local_gleam_model_solutions_initial_ref.bin"
fi 

if [[ ! -e "${calfile}" ]]; then
    echo "Could not find calibrator file ${calid}"
    track_task.py fail --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
    exit 1
fi

echo "Calibration file is ${calfile}"

if [[ -n "${debug}" ]]; then # If in debugging mode, apply to the CORRECTED_DATA column
    nocopy=
else # If in production mode, apply to the DATA column
    nocopy="-nocopy"
fi
applysolutions "${nocopy}" "${obsid}.ms" "${calfile}"

test_fail $?

if [[ "${GXTRACK}" == "track" ]]; then
    track_task.py finish --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
    track_task.py obs_calibrator --obs_id "${obsid}" --cal_id "${calid}"
fi
