#! /bin/bash

set -x

project_dir=PROJECT_DIR
obsinp=OBSINP
resubmit=RESUBMIT

if [[ -n "${resubmit}" ]]; then
    allow_resubmit="--allow-resubmit"
else
    allow_resubmit=""
fi

# Start download
cd "${project_dir}" || exit 1

obsid_array=$(awk '{print substr($1,8,10)}' < "${obsinp}_manta.tmp")

if [[ "${GXTRACK}" == "track" ]]; then
    for i in $(seq 1 "${#obsid_array[@]}"); do
        track_task.py start --jobid="${SLURM_JOBID}" --taskid=${i} --start_time="$(date +%s)"
    done
fi

mwa_client "${allow_resubmit}" --csv="${obsinp}_manta.tmp" --dir="${project_dir}"

n=1
for obsid in $obsid_array; do
    # The mwa_client will download and untar the data in ${project_dir}/${jobid}/${obsid}.ms, where jobid is the ASVO jobid.
    # Move the data to ${project_dir}/${obsid}/${obsid}.ms to be consistent with the previous download method.
    obs_data_ms=$(find ${project_dir} -name "${obsid}.ms" -type d) # obs_data_ms will be ${project_dir}/${jobid}/${obsid}.ms if the download was successful, or empty if not.

    if [[ ! -d "${obs_data_ms}" ]]; then
        echo "$(date '+%Y-%m-%d %H:%M:%S') # ERROR # The mwa_client failed to download data for obsid ${obsid}."
        if [[ "${GXTRACK}" == "track" ]]; then
            track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${n}" --finish_time="$(date +%s)"
        fi
        exit 1
    else
        mv "$(dirname ${obs_data_ms})" "${project_dir}/${obsid}"
    fi
    ((n+=1))
done
