#! /bin/bash

# Run filtering on the transient HDF5 files
# Upload the results to the ADACS Nimbus instance
set -x

obsinp=OBSINP
project_dir=PROJECT_DIR

# If obsinp is a file, then we are in an array job
if [[ -f "${obsinp}" ]]; then
    taskid="${SLURM_ARRAY_TASK_ID}"
    jobid="${SLURM_ARRAY_JOB_ID}"
    obsid="$(sed -n -e ${SLURM_ARRAY_TASK_ID}p ${obsinp})"
else
    taskid=1
    jobid="${SLURM_JOB_ID}"
    obsid="${obsinp}"
fi

# NOTE: The current GPM Profile script will set up the PYTHONPATH
# to search the GPMBASE folder and the Csanda's transient filter
# code which is installed in the externals folder. For this reason
# so long as the script names are unique they should be found and
# executed without issue. 

#epoch=$(${GPMBASE}/determine_epoch.py --obsid $obsid)
#epoch="Epoch${epoch}"

cd "${project_dir}/${obsid}/" || exit 1

filtercmds=('space_corr 8 time_corr_gauss_multi 0 time_max 0' 'space_corr 8 stdev 0' 'space_corr 8 spike 0 time_max 0' 'space_corr 8  time_corr_gauss 0 time_max 0' 'time_corr_gauss 0 time_max 0')
filternames=('tcgm' 'std' 'spike' 'dbtcg' 'tcg')
cutoffs=('--std --cutoff 7.5' '--std --cutoff 7.5' '--cutoff 7.5' '--std --cutoff 7.5' '--std --cutoff 7.5')
nfilters=${#filternames[@]}

###### Data required for all filters ######
# This is to get the light curve peak values later
if [[ ! -f "${obsid}_max.fits" ]]; then
    DoFilter.py "${obsid}_transient.hdf5" "${obsid}_max.fits" time_max 0
fi

# This is to get the known source residuals later
if [[ ! -f "${obsid}_stdev.fits" ]]; then
    DoFilter.py "${obsid}_transient.hdf5" "${obsid}_stdev.fits" stdev 0
fi

# This is to get help filter aliases later
if [[ ! -f "${obsid}_mean.fits" ]]; then
    DoFilter.py "${obsid}_transient.hdf5" "${obsid}_mean.fits" mean 0
fi

if [[ ! -f "${obsid}_known.fits" ]]; then
    # This gives us a way to test what the ionospheric distortions typically look like, later ("mean" is just used as a template)
    GetKnownSources.py "${obsid}_mean.fits" "${obsid}_tmp.fits" "${SOFTBASE}/sky_models/GGSM_updated.fits"
    # This gets the value of the primary beam at the locations of known sources
    GetValsAtCoords.py --vals-from beam --vals-name beam --in_fname "${obsid}_tmp.fits" --out_fname "${obsid}_tmp.fits"
    # This gets the stdevs at locations of known sources (nks_ prepended during xmatch)
    GetValsAtCoords.py --vals-from "${obsid}_stdev.fits" --vals-name std --in_fname "${obsid}_tmp.fits" --out_fname "${obsid}_tmp.fits"
    # This gets the means at locations of known sources (nks_ prepended during xmatch)
    GetValsAtCoords.py --vals-from "${obsid}_mean.fits" --vals-name mean --in_fname "${obsid}_tmp.fits" --out_fname "${obsid}_known.fits"
    rm "${obsid}_tmp.fits"
fi
    
###### Filter loop ######
for (( i=0; i<"${nfilters}"; i++ )); do
    filtcmd="${filtercmds[$i]}"
    filtname="${filternames[$i]}"
    cutoff="${cutoffs[$i]}"

    if [[ ! -f "${obsid}_${filtname}.fits" ]]; then
        DoFilter.py "${obsid}_transient.hdf5" "${obsid}_${filtname}.fits" "${filtcmd}"
    fi

    ###### Candidate detection #######
    if [[ ! -f "results/${obsid}_${filtname}_cands_wstats_selected.fits" ]]; then
    
        # Found that a cutoff of 7.5 was best compromise between sensitivity and detection rate
        DoIslanding.py --in "${obsid}_${filtname}.fits" --out "${obsid}_tmp.fits" "${cutoff}" --peak-name can_det_stat --filter-name "${filtname}"
        
        # This gets the value of the primary beam at the locations of the detected candidates
        GetValsAtCoords.py --vals-from beam --vals-name can_beam --in_fname "${obsid}_tmp.fits" --out_fname "${obsid}_tmp.fits"

        # This gets the peaks of the light curves at the locations of the detected candidates
        GetValsAtCoords.py --vals-from "${obsid}_max.fits" --vals-name can_peak_flux --in_fname "${obsid}_tmp.fits" --out_fname "${obsid}_tmp.fits"

        # This gives us a way to check for aliases
        GetValsAtCoords.py --vals-from "${obsid}_mean.fits" --vals-name can_mean --in_fname "${obsid}_tmp.fits" --out_fname "${obsid}_tmp.fits"

        # This gets the standard deviation through the cube at the locations of the detected candidates
        GetValsAtCoords.py --vals-from "${obsid}_stdev.fits" --vals-name can_std --in_fname "${obsid}_tmp.fits" --out_fname "${obsid}_${filtname}_cands.fits"

        ###### Nearest Known Source characterisation ######

        # This gets the detection statistics at the locations of known sources (nks_ prepended during xmatch)
        GetValsAtCoords.py --vals-from "${obsid}_${filtname}.fits" --vals-name det_stat --in_fname "${obsid}_known.fits" --out_fname "${obsid}_${filtname}_knownsrcs.fits"

        ###### Cross-matching #######
        ### This puts the cross-match information in the original table
        DoCrossMatching.py --in-fname "${obsid}_${filtname}_cands.fits" --match-fname "${obsid}_${filtname}_knownsrcs.fits"

        #### Add some useful statistics
        AddStats.py --cands "${obsid}_${filtname}_cands.fits" --known "${obsid}_${filtname}_knownsrcs.fits" --out_fname "${obsid}_${filtname}_cands_wstats.fits"

        ##### Cutting sources based on statistics ####
        SelectSources.py --in_fname "${obsid}_${filtname}_cands_wstats.fits" --out_fname "${obsid}_${filtname}_cands_wstats_selected.fits" --match_fname "${SOFTBASE}/sky_models/GGSM_updated.fits"

        ##### Plotting #####
        #
        ## Make plots
        DiagnosticPlots.py --candidates "${obsid}_${filtname}_cands_wstats_selected.fits" --observation "${obsid}_transient.hdf5" --filter "${obsid}_${filtname}.fits" --known "${obsid}_${filtname}_knownsrcs.fits"
        if [[ ! -d results ]]; then
            mkdir results/
        fi
        mv "${obsid}_${filtname}_cands_wstats_selected.fits" results/
        mv "${obsid}_${filtname}*png" results/
        mv "${obsid}_${filtname}*gif" results/
    fi
done
# ${GPMBASE}/upload_cand.py --data_directory results
