#! /bin/bash

set -x

obsinp=OBSINP
project_dir=PROJECT_DIR
debug=DEBUG

if [[ -z "${debug}" ]]; then
    column=DATA
else
    column=CORRECTED_DATA
fi

# If obsinp is a file, then we are in an array job
if [[ -f "${obsinp}" ]]; then
    taskid="${SLURM_ARRAY_TASK_ID}"
    jobid="${SLURM_ARRAY_JOB_ID}"
    obsid="$(sed -n -e "${SLURM_ARRAY_TASK_ID}"p "${obsinp}")"
else
    taskid=1
    jobid=${SLURM_JOB_ID}
    obsid="${obsinp}"
fi

test_fail() {
    if [[ $1 != 0 ]]; then
        if [[ "${GXTRACK}" == "track" ]]; then
            track_task.py fail --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
        fi
        exit "$1"
    fi
}

if [[ "${GXTRACK}" == "track" ]]; then
    track_task.py start --jobid="${jobid}" --taskid="${taskid}" --start_time="$(date +%s)"
fi

cd "${project_dir}/${obsid}" || exit 1

ms_flag_by_uvdist.py "${obsid}.ms" "${column}" -a 
test_fail $?

if [[ "${GXTRACK}" == "track" ]]; then
    track_task.py finish --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
    track_task.py obs_status --obs_id="${obsid}" --status='flagged'
fi
